<footer class="footer">
  <div class="footer-container">
    <div class="footer-section-top">
      <div class="footer-section-logo">
        <a class="footer-logo-nav" href="./index.html">
          <svg class="footer-logo">
            <use href="/img/sprite.svg#header-logo"></use>
          </svg>
        </a>
        <p class="footer-description">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-container-info">
        <ul class="footer-links">
          <li><a href="#how">HOW IT WORKS</a></li>
          <li><a href="#vegetables">VEGETABLES</a></li>
          <li><a href="#reviews">REVIEWS</a></li>
        </ul>

        <div class="footer-section-contact">
          <a class="footer-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
          <a href="https://maps.app.goo.gl/Qz61SeTecn8h6SRq7" target="_blank"
            >1678 S. Pioneer Road Salt<br />Lake City UT 84104</a
          >
        </div>
      </div>
    </div>
    <div class="footer-section-bottom">
      <div class="footer-policy">
        <a href="#">Privacy Policy</a>
        <span class="footer-slash">/</span>
        <a href="#">Cookie settings</a>
      </div>
      <div><p class="footer-harvest">© Green Harvest 2023</p></div>
    </div>
  </div>
</footer>
