<header class="header">
  <div class="container">
    <a href="./index.html" class="header-logo-link">
      <svg class="header-logo">
        <use
          class="header-logo-vector"
          href="/img/sprite.svg#header-logo"
        ></use>
      </svg>
    </a>
    <button type="button" class="header-burger-btn" data-mobile-menu-open>
      <svg class="header-burger">
        <use
          class="header-burger-vector"
          href="/img/sprite.svg#header-burger"
        ></use>
      </svg>
    </button>
    <div class="header-block">
      <ul class="header-navigation">
        <li class="header-navigation-item">
          <a href="#how" class="header-navigation-a">How It Works</a>
        </li>
        <li class="header-navigation-item">
          <a href="#vegetables" class="header-navigation-a">Vegetables</a>
        </li>
        <li class="header-navigation-item">
          <a href="#reviews" class="header-navigation-a">Reviews</a>
        </li>
      </ul>
    </div>
    <button class="header-btn" data-modal-open>Shop now</button>
    <div class="mobile-menu" data-mobile-menu>
      <div class="mobile-menu-container">
        <button class="mobile-close-btn" type="button" data-mobile-menu-close>
          <svg class="mobile-close-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-x"></use>
          </svg>
        </button>
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a href="#how" class="mobile-menu-link curr-page">How It Works</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#vegetables" class="mobile-menu-link">Vegetables</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#reviews" class="mobile-menu-link">Reviews</a>
          </li>
        </ul>
        <a href="#order" class="mobile-order-link" data-modal-open>Shop now</a>
      </div>
    </div>
  </div>
</header>
