<section class="organic" id="vegetables">
  <div class="container">
    <div class="organic-title">
      <h2 class="section-organic-title">
        organic<span class="title-part"> vegetables</span>
      </h2>
      <p class="organic-main-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="organic-list">
      <li class="organic-item">
        <div class="organic-list-wrap">
          <h3 class="organic-list-title">eggplant</h3>
          <p class="organic-text">60 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/vegetables/veg-1-1x.avif 1x,
                /img/vegetables/veg-1-2x.avif 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/vegetables/veg-tab-1-1x.avif 1x,
                /img/vegetables/veg-tab-1-2x.avif 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/vegetables/veg-mob-1-1x.avif 1x,
                /img/vegetables/veg-mob-1-2x.avif 2x
              "
            />
            <img
              class="organic-img"
              src="/img/vegetables/veg-1-1x.avif"
              width="280"
              alt="eggplant"
            />
          </picture>
        </div>
      </li>
      <li class="organic-item">
        <div class="organic-list-wrap">
          <h3 class="organic-list-title">leek</h3>
          <p class="organic-text">50 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/vegetables/veg-2-1x.avif 1x,
                /img/vegetables/veg-2-2x.avif 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/vegetables/veg-tab-2-1x.avif 1x,
                /img/vegetables/veg-tab-2-2x.avif 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/vegetables/veg-mob-2-1x.avif 1x,
                /img/vegetables/veg-mob-2-2x.avif 2x
              "
            />
            <img
              class="organic-img"
              src="/img/vegetables/veg-2-1x.avif"
              width="280"
              alt="leek"
            />
          </picture>
        </div>
      </li>
      <li class="organic-item">
        <div class="organic-list-wrap">
          <h3 class="organic-list-title">mushrooms</h3>
          <p class="organic-text">40 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/vegetables/veg-3-1x.avif 1x,
                /img/vegetables/veg-3-2x.avif 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/vegetables/veg-tab-3-1x.avif 1x,
                /img/vegetables/veg-tab-3-2x.avif 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/vegetables/veg-mob-3-1x.avif 1x,
                /img/vegetables/veg-mob-3-2x.avif 2x
              "
            />
            <img
              class="organic-img"
              src="/img/vegetables/veg-3-1x.avif"
              width="280"
              alt="mushrooms"
            />
          </picture>
        </div>
      </li>
      <li class="organic-item">
        <div class="organic-list-wrap">
          <h3 class="organic-list-title">corn</h3>
          <p class="organic-text">60 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/vegetables/veg-4-1x.avif 1x,
                /img/vegetables/veg-4-2x.avif 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/vegetables/veg-tab-4-1x.avif 1x,
                /img/vegetables/veg-tab-4-2x.avif 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/vegetables/veg-mob-4-1x.avif 1x,
                /img/vegetables/veg-mob-4-2x.avif 2x
              "
            />
            <img
              class="organic-img"
              src="/img/vegetables/veg-4-1x.avif"
              width="280"
              alt="corn"
            />
          </picture>
        </div>
      </li>
      <li class="organic-item">
        <div class="organic-list-wrap">
          <h3 class="organic-list-title">sweet potatoes</h3>
          <p class="organic-text">50 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/vegetables/veg-5-1x.avif 1x,
                /img/vegetables/veg-5-2x.avif 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/vegetables/veg-tab-5-1x.avif 1x,
                /img/vegetables/veg-tab-5-2x.avif 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/vegetables/veg-mob-5-1x.avif 1x,
                /img/vegetables/veg-mob-5-2x.avif 2x
              "
            />
            <img
              class="organic-img"
              src="/img/vegetables/veg-5-1x.avif"
              width="280"
              alt="sweet potatoes"
            />
          </picture>
        </div>
      </li>
      <li class="organic-item">
        <div class="organic-list-wrap">
          <h3 class="organic-list-title">carrot</h3>
          <p class="organic-text">40 USD / kg</p>
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/vegetables/veg-6-1x.avif 1x,
                /img/vegetables/veg-6-2x.avif 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/vegetables/veg-tab-6-1x.avif 1x,
                /img/vegetables/veg-tab-6-2x.avif 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/vegetables/veg-mob-6-1x.avif 1x,
                /img/vegetables/veg-mob-6-2x.avif 2x
              "
            />
            <img
              class="organic-img"
              src="/img/vegetables/veg-6-1x.avif"
              width="280"
              alt="carrot"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
