* {
  box-sizing: border-box;
}
.beckdrop-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.beckdrop-modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  border: 1px solid var(--blush);
  padding: 40px 20px;
  min-width: 280px;
  max-width: 335px;
  min-height: 552px;
  background-color: var(--white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.beckdrop-modal:not(.is-open) .modal {
  transform: translate(-50%, 100%);
}
.close-btn-mod {
  padding: 0;
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--chianti);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mod-x-icon {
  width: 32px;
  height: 32px;
  stroke: var(--white);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn-mod:hover,
.close-btn-mod:focus {
  background-color: var(--blush);
}
.close-btn-mod:hover .mod-x-icon,
.close-btn-mod:focus .mod-x-icon {
  stroke: var(--chianti);
}

.modal-title {
  color: var(--black);
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.modal-title-red {
  color: var(--chianti);
}
.modal-title-green {
  color: var(--green);
}
@media screen and (max-width: 600px) {
  .modal-title {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 32px;
  }
}

.modal-form {
}

.modal-form-label {
}
.input-wrap {
  position: relative;
  margin-bottom: 16px;
}
.modal-form-input {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;

  border: 1px solid var(--grey);
  border-radius: 30px;
  padding: 14px 16px;
  width: 100%;
  height: 48px;
  background-color: var(--white);
  text-align: left;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input::placeholder {
  color: var(--black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
}
@media screen and (min-width: 768px) {
  .modal-form-input {
    font-size: 16px;
  }
  .modal-form-input::placeholder {
    font-size: 16px;
  }
}

.modal-form-input:placeholder-shown {
  border-color: var(--grey);
}

.modal-form-input:focus {
  border-color: var(--chianti);
}

.modal-form-input:not(:placeholder-shown):invalid {
  border-color: var(--smthwrong);
}

.modal-form-input:not(:placeholder-shown):valid {
  border-color: var(--greenlight);
}

.text-box-mod {
  height: 92px;
  margin-bottom: 20px;
}
.textarea-mod {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  width: 100%;
  border: 1px solid var(--grey);
  border-radius: 15px;
  padding: 16px;
  height: 92px;
  background-color: var(--white);
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-mod::placeholder {
  color: var(--black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
}

.textarea-mod:placeholder-shown {
  border-color: var(--grey);
}
.textarea-mod:focus {
  border-color: var(--chianti);
}
.textarea-mod:not(:placeholder-shown):invalid {
  border-color: var(--smthwrong);
}
.textarea-mod:not(:placeholder-shown):valid {
  border-color: var(--greenlight);
}

.modal-send-btn {
  border-radius: 30px;
  border: none;
  background-color: var(--chianti);
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  width: 100%;
  height: 52px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send-btn:focus {
  background-color: var(--white);
  color: var(--chianti);
}
@media screen and (min-width: 1280px) {
  .modal-send-btn:hover {
    background-color: var(--blush);
    color: var(--chianti);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 100px;
    min-width: unset;
    max-width: unset;
    width: 640px;
    min-height: 632px;
  }
  .close-btn-mod {
    width: 48px;
    height: 48px;
  }
  .mod-x-icon {
    width: 40px;
    height: 40px;
  }
  .text-box {
    margin-bottom: 24px;
  }
  .textarea-mod {
    font-size: 16px;
  }
  .textarea-mod::placeholder {
    font-size: 16px;
  }
}
