.reviews {
  background-color: #fbfbfb;
}

.reviews-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.reviews-title-container {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 335px;
  padding: 0;
}

.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 20px;
}

.reviews-title-accent {
  color: #576f35;
}

.reviews-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
}

.reviews-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.reviews-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  padding: 20px 16px;
  min-height: 248px;
}

.reviews-item-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
}

.reviews-hidden-mob {
  display: none;
}

.reviews-item-imag {
  border-radius: 72px;
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
}

.reviews-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}

.reviews-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #858585;
}

@media only screen and (min-width: 768px) {
  .reviews-container {
    gap: 52px;
  }

  .reviews-title-container {
    max-width: 553px;
  }

  .reviews-title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 24px;
  }

  .reviews-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .reviews-list {
    width: 704px;
    gap: 24px;
  }

  .reviews-item {
    width: calc((100% - 24px) / 2);
    padding: 20px;
  }

  .reviews-item-container {
    min-height: 128px;
  }

  .reviews-hidden-mob {
    display: flex;
  }

  .reviews-hidden-tab {
    display: none;
  }

  .reviews-item-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-list {
    width: 1080px;
  }

  .reviews-item {
    width: calc((100% - 48px) / 3);
  }

  .reviews-hidden-tab {
    display: flex;
  }
}
